
body {
	color: black;
      /* fallback */
	background-image:url('new_background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;
      min-height: 700px;
      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,235,180)), to( rgb(60, 75, 105)));

      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, rgb(60, 75, 105), rgb(255,235,180));

      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, rgb(60, 75, 105), rgb(255,235,180));

      /* IE 10 */
      background: -ms-linear-gradient(top, rgb(60, 75, 105), rgb(255,235,180));

      /* Opera 11.10+ */
      background: -o-linear-gradient(top, rgb(60, 75, 105), rgb(255,235,180));
          }

  .navbar-inner .pull-right img {
    width: 30px;
  }

  .navmarg {
    margin-bottom: 0px
  }


#homepage_container {
  width: 100%;
  margin-top: 3em;
}

.cu_feed_options {
margin: 0px 0px 4% 25%;
}

.cucontent {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 28px;
  line-height:35px;
}


.cuimage {
margin: auto;
      height: auto;
      padding: 5px;
      border-radius: 5px;
}

.profileimage {
  height: 40px;
  width: 40px;
  float: left;
}

.profileimage img {
  border-radius: 10px;
}

/**** NAV BAR ****/
.brand{
  font-size: 80px;
}



/*** CHEERUPS***/

.bio img {
  border-radius: 30px;
  margin-top: -10px;
  float: left;
}

.bio_name {
  font-size: 1.5em;
  font-weight: bold;
}
.biomain {
  background-image:url('cubg18.png');
  background-size: cover;
  background: rgba(0,0,0,0.2);
  padding: 20px 10px 10px 10px;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.content {
  margin-bottom: 10px;
  text-align:justify;
}

.culeft {
  margin-left: 20px;
  margin-right: 1em;
  max-width: 270px;
  float: left;
}

.curight {
  margin: 0px 0px 0px 20px;

}

#create_cheerup{
  background-image:url('cubg18.png');
  background-size: 100% 100%;
  padding-top: 20px;
  padding-bottom: 7px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-left: -21px;
  text-align: center
}

#create_cheerup{
  background-image:url('cubg18.png');
  background-size: 100% 100%;
  padding-top: 20px;
  padding-bottom: 7px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-left: -21px;
  text-align: center
}

#friend_list {
  background-image:url('cubg18.png');
  background-size: cover;
  background: rgba(0,0,0,0.2);
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}



/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 200px;
}

.isotope-item.large{
  max-width: 300px;
}

.isotope-item .cuimage img {
  width: 100%;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}



/**** LAUNCH PAGE ****/
.form_label{
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
  line-height: 30px;
}
.launch_div_one{
  overflow: auto;
  background-size: 100%;
  background-image: url(beagleavatar.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  min-height: 600px;
  text-align: center;
 }

.launch_one_left{
  display: inline-block;
  width: 60%;
  height: 50%;
  text-align: left;
  position: relative;
  top: -70px;
}
.launch_one_left h1{
  font-size: 50px;
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}
.launch_one_left p{
  font-size: 30px;
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  line-height: 30px;
}
.launch_one_right{
  margin-top: 50px;
  width:30%;
  height: 50%;
  display: inline-block;

}
.launch_div_two{
  overflow: auto;
  background-image: url(navigation.png);
  background-repeat:no-repeat;
  min-height: 500px;
  background-size: 100% 100%;
}
.launch_div_three{
overflow: auto;
  background-position: center center;
  background-color: #fff;
  background-image: url(discover.png);
  background-repeat:no-repeat;
   background-size: 100% 100%;
  min-height: 750px;
}
.launch_div_four{
  overflow: auto;
  background-image: url(cu.png);
  background-color: blue;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  min-height: 550px;
}
.launch_div_five{
overflow: auto;
  background-size: 100%;
  background-image: url(friends.png);
  background-repeat:no-repeat;
  min-height: 600px;
  background-size: 100% 100%;
  min-height: 550px;
}

.launch_div_six{
  overflow: auto;
  background-size: 100%;
  background-image: url(mobile.png);
  background-repeat:no-repeat;
  min-height: 710px;
   background-size: 100% 100%;
  min-height: 550px;
}
.launch_div_seven{
overflow: auto;
  background-size: 100%;
  background-image: url(footer.png);
  background-repeat:no-repeat;
  min-height: 394px;
}

@media only screen and (min-width : 568px) {
  .navbar-inner .pull-right img {
    display: none;
  }

  .narrow_only {
    display: none;
  }
}

@media only screen and (max-width : 568px) {
  .culeft {
    display: none;
    float: left;
  }

  .curight {
    margin: 5px;
    width: 100%;
    float: left;
  }

.isotope-item {
  z-index: 2;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  max-width: 480px;
}

}
