body {
	color: black;
	background-image:url('new_background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;
      }



.cuimage {
	margin: auto;
}

  #mini_profile {
    background: #ff7f50;
    background-size: 100% 100%;
    width: 480px;
    font-color: black;
    border-style: ridge;
    border-color: pink
  }

#left_sidebar {
    float:left;
  }

#friend_list {
    background: #ff7f50;
    background-size: 100% 100%;
    width: 480px;
    font-color: black;
    border-style: ridge;
    border-color: pink
  }
